<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Author: A.N. Author,
    Illustrator: P. Picture, Category: Books, Price: $17.99,
    Length: 784 pages">
    <link rel="icon" href="image.jpg" />
    <link rel="stylesheet" href="style.css" />
    <title>Qr Code Generator</title>
  </head>
  <body>
    <main id="main">
      <div class="container">
        <h1 id="hi">Generate Your QR Code Instantly</h1>
        <p>
          Create professional, custom QR codes in seconds. Simply enter your
          content—whether it's a URL, text, contact info, or more—and download
          your QR code in high quality. Customize the design, choose your
          colors, add a logo, and make it uniquely yours. No sign-up needed.
          Fast, secure, and completely free to use.
        </p>
      </div>
      <!-- loading animation -->

      <!-- not a valid URl -->
      <h2 id="valid">
        Please paste a valid web address, like <br />
        <span class="code">https://your-site.com/page</span>
      </h2>

      <!-- user inputs -->
      <form action="/gen" method="post">
        <label for="url"></label>
        <input
          name="url"
          type="text"
          placeholder="Paste url in here"
          id="url"
        />
        <label for="submit"></label>
        <input type="submit" value="Generate" id="submit" class="button" />
      </form>

      <!-- showing image  -->
      <% if (locals.urlList) {%>
      <div class="qr">
        <img src="./qrCode.png" alt="OOPS!" />
        <a href="./qrCode.png" download="Here" class="button">Download</a>
      </div>
      <% } %>
    </main>

    <!-- loading animation  -->
    <div id="converting" class="loading">
      <div class="wifi-animation">
        <div class="bar bar1"></div>
        <div class="bar bar2"></div>
        <div class="bar bar3"></div>
        <div class="bar bar4"></div>
      </div>
    </div>
    <footer>
      <p>&copy; <span id="year"></span></p>
      <p>
        Powered by
        <a target="_blank" href="https://github.com/Bassam-Radwan">Bassam</a>
      </p>
    </footer>
    <!-- <script src="index.js"></script> -->
    <script src="main.js"></script>
  </body>
</html>
